@tailwind base;
@tailwind components;
@tailwind utilities;

.aboutMe {
  position: relative;
}

.aboutMe::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 80%;
  max-height: 80px;
  top: 6px;
  left: -15px;
  border-radius: 100vw;
  /* background-color: #5b21b6; */
}

.contact-me {
  position: relative;
  width: fit-content;
}

.contact-me::after {
  position: absolute;
  content: "";
  left: 0;
  width: 60%;
  bottom: -5px;
  background-color: #5b21b6;
  height: 2px;
}
